.verd{
    background-color: greenyellow;
    
    
}
.rojo{
    background-color: red;
    
    
}
.violet{
    background-color: violet;
    
    
    
}
.carne{
    background-color: lightsalmon;
    
    
}
.azul{
    background-color: aqua;
    
    
}